.pointer {
    cursor: pointer;
}

.marker-container {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    &:hover {
        z-index: 2;
    }
}

.map-container {
    height: 85vh;
    width: 100%;
}

.paper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}

@media only screen and (min-width: 600px) {

}